@import "tailwindcss";

body {
  margin: 0;
  overflow-x: hidden;
  font-family: sans-serif;
  background: #f6f7fb;
}

/* ✅ Canvas must fill viewer box */
canvas {
  width: 100% !important;
  height: 100% !important;
  display: block;
}
